$bottom-header-border: #ffc7cd;
.header{
  height: 75px;
  background:#e0f4ff;
  border-bottom:1px solid #e5ffe0
}
.sub-header{
  text-align:center;
  background: #a3dfff;
  height:50px;
  border-bottom:6px solid $bottom-header-border;
}

