$bottom-header-border: #ffc7cd;
@import "mixin";
.header{
  height: 75px;
  @include gradient(#F0FAFF,#75D1FF);
}
.sub-header{
  text-align:center;
  @include gradient(#75D1FF,#F0FAFF);
  height:50px;
  border-bottom:6px solid $bottom-header-border;
}
.header .cursive{
  font-family: 'Amatic SC', cursive;
  margin-top:20px;
  margin-left:150px;
  float:left;
  font-size:48px;
  color:#ff2428;
  padding-bottom:20px;
  border-bottom:1px solid #ffeb8a;
}
.header .noncursive{
  font-family: 'Montserrat', sans-serif;
  margin-top:20px;
  font-size:48px;
  float:left;
}

.header .bracket{
  position:relative;
  font-family:'Montserrat', sans-serif;
  font-size:1.4em;
  margin-top:20px;
  color:#ffa3b3;
  float:left;
}
.header .first-letter{
  position:relative;
  margin-top:20px;
  font-family:'Montserrat', sans-serif;
  font-size:48px;
  float:left;
}
