@import 'mixin';
@mixin shadows {
  -moz-box-shadow: -1px -1px 1px 1px #888;
  -webkit-box-shadow: -1px -1px 1px 1px #888;
  box-shadow: -1px -1px 1px 1px #888;
}
@mixin rounded-tops($pixels){
  border-top-left-radius: $pixels; 
}
.sub-header ul {
  clear:left;
  float:left;
  list-style:none;
  position:relative;
  top:30px;
  margin-left:15px;
  padding:0;
  text-align:center;
}
.sub-header ul li {
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  right:50%;
}
.sub-header ul li a {
  display:block;
  margin:0 0 0 1px;
  padding:3px 10px;
  text-decoration:none;
  line-height:1.3em;
}
.menu_class  {
  border-bottom:red;
  margin-bottom:8px;

}

 .menu-class a{
   color:#DDD;
   border-top:red 1px solid;
   border-left:red 1px solid;
   position-left:-8px;
   height:10px;
   @include rounded-tops(8px)
 }
 .menu-class  a:hover{
   border-top:white 1px solid;
   border-bottom:red;
   background:transparent;
   color:white;
 }
 .menu-class  a:active{
   border-top:white 1px solid;
   background:transparent;
   border-bottom:red;
   color:white;
 }
 .menu-class a:visited{
   color:yellow;

 }
