@import 'mixin';
@mixin shadows {
  -moz-box-shadow: -1px -1px 1px 1px #888;
  -webkit-box-shadow: -1px -1px 1px 1px #888;
  box-shadow: -1px -1px 1px 1px #888;
}
@mixin rounded-tops($pixels){
  border-top-left-radius: $pixels; 
  border-top-right-radius: $pixels;
}
.sub-header ul {
  clear:left;
  float:left;
  list-style:none;
  position:relative;
  top:30px;
  margin-left:15px;
  padding:0;
  text-align:center;
}
.sub-header ul li {
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  right:50%;
}
.sub-header ul li a {
  display:block;
  margin:0 0 0 1px;
  padding:3px 10px;
  color:#fff;
  text-decoration:none;
  line-height:1.3em;
  @include inset-text;
}
.sub-header ul li a:hover {
   background:#c7fff8;
   color:#eee;
}
.sub-header ul li a.active,
.sub-header ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
 }
