// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'devise';
@mixin list-bullet{
  list-style-type:none;
}
.user_post{
  @include rounded-corners;
  line-height:200%;
  background: #fff;
  padding:20px;
  font:1em verdana, arial, sans-serif;
  opacity:.90;
}
.post-results{
  @include list-bullet
}
.post-title{
  font-weight: bold;
  font-stretch:semi-expanded;
}
#full-post{
  padding:8px;
}
.full-post-link a{
  color: red;
  font-size:.6;
  opacity: .30;
  text-decoration: none;
}
