// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'devise';
@mixin list-bullet{
  list-style-type:none;
}
.user_post{
  @include rounded-corners;
  line-height:200%;
  background: #fff;
  padding:20px;
  font:1em verdana, arial, sans-serif;
  opacity:.90;
}
.post-results{
  @include list-bullet

}
