@import "mixin";
.side-bar{
  margin-top:20px;
  min-height:400px;
  @include rounded-corners;
  padding:8px;
  color:#EEE;
  font-family: 'Pompiere', cursive;
  font-size: 1.4em;
  @include shadows;
  text-indent:14px;
  @include gradient(#ffe4d6,#ffb18a)
}
.sidebar-list {
  list-style-type:none;
}

.sidebar-list{
  margin-top:20px;
  
}
.sidebar-links a{
  text-shadow:none !important;
  font-family:verdana;
  text-decoration:none;
  font-size:0.8em;
  color:#29b8ff;
}
.user-posts-header{
  position:relative;
  float:right;
  border-bottom: 1px dotted #c7fff8;
  max-width:100px;
  text-indent:2px;
}
.user-posts{
}
.user-posts ul{
  list-style-type: none;
}
.user-posts a{
  text-align:left;
  text-shadow:none !important;
  font-family:verdana;
  text-decoration:none;
  font-size:0.8em;
  color:#29b8ff;
}
