// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-posts{
  list-style-type: none;
}
.user-list ul{
  margin-top:50px;
}
.user-list ul li{
  list-style-type:none;
  text-align:left;

}
.user-list-hr{
  margin-top: 20px;
  margin-bottom: 20px;
  width:200px;
}
.user-list-odd{
  opacity:.80;
  background:#CCc;

}
.user-list-even{
  background:#eff;
}

