<!DOCTYPE html>
<html>
<head>
  <title>ChatPusherEngine</title>
  <%= stylesheet_link_tag    "chat_pusher_engine/application" %>
  <%= javascript_include_tag "chat_pusher_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
