<%= form_for(@spider) do |f| %>
  <% if @spider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spider.errors.count, "error") %> prohibited this spider from being saved:</h2>

      <ul>
      <% @spider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
