<%= form_for(@zipper) do |f| %>
  <% if @zipper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zipper.errors.count, "error") %> prohibited this zipper from being saved:</h2>

      <ul>
      <% @zipper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
