<table class="front" summary="for signed-in users">
  <tr>
    <td class="main">
      <h1 class="micropost">Whatup?</h1>
      <%=render 'shared/micropost_form'%>
    </td>
    <td class="sidebar round">
      <%=render 'shared/user_info'%>
    </td>
  </tr>
</table>
