<div class="email_confirmation">
  Please click on the link below so that we may confirm
  your email address.
  <%=link_to "confirm your email", confirmations_path(@user.confirmation_token) %>
</div>
