<div class ="search-div"><!--hack.scss-->
<%= form_tag titles_path, :method => :get, :remote=>true, :id=>"form-search" do %>
        <p>
          <%= text_field_tag :search,  params[:search] %>
          <%=submit_tag "Search", :name=>nil%>
        </p>
      <%end %>
      <div id="loading">
        <%= image_tag 'loader.gif' %>
      </div>
</div>
