/* line 1, ../sass/custom.sass */
.container {
  width: 710px;
}

/* line 5, ../sass/custom.sass */
body {
  background: #ccffff;
}

/* line 9, ../sass/custom.sass */
header {
  padding-top: 20px;
}

/* line 13, ../sass/custom.sass */
header img {
  padding: 1em;
  background: white;
}

/* line 18, ../sass/custom.sass */
section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: white;
}

/* line 25, ../sass/custom.sass */
section h1 {
  font-size: 200%;
}

/* Links */
/* line 31, ../sass/custom.sass */
a {
  color: #0099cc;
  text-decoration: none;
}

/* line 36, ../sass/custom.sass */
a:hover {
  color: #006699;
  text-decoration: underline;
}

/* line 41, ../sass/custom.sass */
a:visited {
  color: #006699;
  float: right;
}

/* line 47, ../sass/custom.sass */
nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

/* line 53, ../sass/custom.sass */
nav ul {
  margin: 0;
  padding: 0;
}

/* line 57, ../sass/custom.sass */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

/* line 62, ../sass/custom.sass */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

/* line 66, ../sass/custom.sass */
nav ul li a:visited {
  color: #0099cc;
}

/* line 70, ../sass/custom.sass */
nav ul li a:hover {
  text-decoration: underline;
}
