<%@user ||=current_user%>
<div class="stats">
  <table summary="User stats">
    <tr>
      <%= render :partial => "shared/following_status", :locals=> {:user => (@user ||=current_user)} %>
      <%= render :partial => "shared/followers_status", :locals=> {:user => (@user ||=current_user)} %>
    </tr>
  </table>
</div>
